/*!
 * Forked from https://github.com/balzss/luxbar
 */
.luxbar-default {
  width: 100%;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 1000;
}

.luxbar-static {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.luxbar-static .luxbar-checkbox:checked~.luxbar-menu {
  position: absolute;
}

.luxbar-fixed {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.luxbar-fixed-bottom {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.luxbar-hamburger span,
.luxbar-hamburger span::before,
.luxbar-hamburger span::after {
  display: block;
  height: 2px;
  width: 26px;
  transition: 0.6s ease;
}

.luxbar-checkbox:checked~.luxbar-menu li .luxbar-hamburger span {
  background-color: transparent;
}

.luxbar-checkbox:checked~.luxbar-menu li .luxbar-hamburger span::before,
.luxbar-checkbox:checked~.luxbar-menu li .luxbar-hamburger span::after {
  margin-top: 0;
}

.luxbar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 58px;
}

.luxbar-menu-left .luxbar-navigation,
.luxbar-menu-left .luxbar-header {
  justify-content: flex-start;
}

.luxbar-menu-right .luxbar-hamburger {
  margin-left: auto;
}

.luxbar-brand {
  font-size: 1.6em;
  padding: 18px 24px 18px 24px;
}

.luxbar-menu {
  min-height: 58px;
  width: 100%;
}

.luxbar-navigation {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.luxbar-menu a,
.luxbar-item a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.luxbar-item {
  height: 58px;
}

.luxbar-item a {
  padding: 18px 24px 18px 24px;
  display: block;
}

.luxbar-hamburger {
  padding: 18px 24px 18px 24px;
  position: relative;
  cursor: pointer;
}

.luxbar-hamburger span::before,
.luxbar-hamburger span::after {
  content: '';
  position: absolute;
}

.luxbar-hamburger span::before {
  margin-top: -8px;
}

.luxbar-hamburger span::after {
  margin-top: 8px;
}

.luxbar-checkbox {
  display: none;
}

.luxbar-checkbox:not(:checked)~.luxbar-menu {
  overflow: hidden;
  height: 58px;
}

.luxbar-checkbox:checked~.luxbar-menu {
  transition: height 0.6s ease;
  height: 100vh;
  overflow: auto;
}

@media screen and (min-width: 768px) {
  .luxbar-navigation {
    flex-flow: row;
    justify-content: flex-end;
  }

  .luxbar-hamburger {
    display: none;
  }

  .luxbar-checkbox:not(:checked)~.luxbar-menu {
    overflow: visible;
  }

  .luxbar-checkbox:checked~.luxbar-menu {
    height: 58px;
  }

  .luxbar-menu .luxbar-item {
    border-top: 0;
  }

  .luxbar-menu-right .luxbar-header {
    margin-right: auto;
  }

}

.luxbar-checkbox:checked+.luxbar-menu .luxbar-hamburger-doublespin span::before {
  transform: rotate(225deg);
}

.luxbar-checkbox:checked+.luxbar-menu .luxbar-hamburger-doublespin span::after {
  transform: rotate(-225deg);
}

.luxbar-checkbox:checked+.luxbar-menu .luxbar-hamburger-spin span::before {
  transform: rotate(45deg);
}

.luxbar-checkbox:checked+.luxbar-menu .luxbar-hamburger-spin span::after {
  transform: rotate(-45deg);
}

.luxbar-menu-dark {
  background-color: #212121;
  color: #fff;
}

.luxbar-menu-dark .luxbar-item {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.luxbar-menu-dark .luxbar-item:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  top: 0;
  background: #2098D1;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.luxbar-menu-dark .luxbar-item:hover:before,
.luxbar-menu-dark .luxbar-item:focus:before,
.luxbar-menu-dark .luxbar-item:active:before {
  left: 0;
  right: 0;
}
.luxbar-menu-dark .luxbar-item:hover,
.luxbar-menu-dark .luxbar-item:focus,
.luxbar-menu-dark .luxbar-item:active {
  background-color: #424242;
}

.luxbar-menu-dark .active:before,
.luxbar-menu-dark .active:before,
.luxbar-menu-dark .active:before {
  left: 0;
  right: 0;
}

.luxbar-menu-dark .luxbar-hamburger span,
.luxbar-menu-dark .luxbar-hamburger span::before,
.luxbar-menu-dark .luxbar-hamburger span::after {
  background-color: #fff;
}

