* {
  margin: 0;
  padding: 0;
}

canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html, body, .container {
  height: 100%;
  width: 100%;
}

.header-container {
  height: 100px;
  text-align: center;
}
.chart-container {
  height: calc(100% - 100px);
}

#myChart {
  display: block;
  width: 100%;
  height: 100%;
}

.btn-group {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animate{
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.action-button{
  position: relative;
  height: 40px;
  margin: 0 10px;
  padding: 0 24px;
  float: left;
  border-radius: 3px;
  font-size: 16px;
  line-height: 40px;
  color: #FFF;
  text-decoration: none;	
  background-color: #212121;
}

.action-button:active{
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
  border-bottom: 1px solid;
}