* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html, body, .container {
  height: 100%;
  width: 100%;
}

.header-container {
  margin: 5px 0;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.chart-container {
  height: calc(100% - 50px);
}

#myChart {
  display: block;
  width: 100%;
  height: 100%;
}

.menu-container {
  height: 40px;
  width: 140px;
  position: relative;
}

.menu-label {
  display: block;
}

.menu-check {
  height: 0;
  width: 0;
  opacity: 0;
}

.menu-check:checked + .menus {
  display: flex;
}

.menus {
  width: 140px;
  display: none;
  flex-direction: column;
  width: 140px;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: #ccc;
}

.menu-item{
  height: 40px;
  border: 1px solid #454545;
  border-bottom: none;
  padding: 0 14px;
  font-size: 16px;
  line-height: 40px;
  color: #FFF;
  text-decoration: none;	
  background-color: #232323;
  list-style: none;
  z-index: 9999;
}
.menu-item:last-child {
  border-bottom: 1px solid #454545;
}

.active {
  background-color: #11b7f4;
}